<p>
  <% if @user.id %>
    <label for="issue_my_page_id">
      <span>Карточка клиента</span>
    </label>
    <%= select("issue", "my_page_id", 
      Issue.where("tracker_id=15 and assigned_to_id=#{@user.id}").collect {|issue| [ "[#{issue.id}] #{issue.subject}", issue.id ] }, 
      {:include_blank => true, :selected => (UserPage.where("user_id=#{@user.id}").exists? ? UserPage.where("user_id=#{@user.id}").first.issue_id : '')}) %> 
      <!-- TODO: move :selected logic to controller -->
    <span id="my_page_status"></span>
  <% end -%>
</p>

<script>
  function update_custom_my_page() {
    $.ajax({
      type: 'POST',
      dataType: 'text',
      data: 'user_id=' + <%= @user.id %> + '&issue_id=' + $('#issue_my_page_id').val(),
      url: '<%= user_pages_path %>'
      
    }).done(function(data){
        $('#my_page_status')[0].innerHTML = data;});
  };

  $("#issue_my_page_id").change(update_custom_my_page);
</script>