<% if UserPage.where("user_id=#{User.current.id} and issue_id is not null").exists? %>
  <script>
  $( document ).ready(function() {
    $('#top-menu a.my-page').attr('href', '<%= issue_path(UserPage.where("user_id=#{User.current.id} and issue_id is not null").first.issue_id) %>');
  });
  </script>
<% end %>