<% if @issues.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <table class="list issues">
    <thead>
      <tr>
        <!-- <th class="checkbox hide-when-print">
          <%= link_to image_tag('toggle_check.png'), {},
                                :onclick => 'toggleIssuesSelection(this); return false;',
                                :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
        </th> -->
        <th>#</th>
        <th>Проект</th>
        <th>Трекер</th>
        <th>Автор</th>
        <th>Создано</th>
        <th>Статус</th>
        <th>Приоритет</th>
        <th>Тема</th>
        <th>Назначена</th>
      </tr>
    </thead>
    <tbody>

      <% @issues.each do |issue| %>
        <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">

          <!-- <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td> -->

          <td class="id"><%= link_to(issue.id, issue_path(issue)) %></td>
          <td class="project"><%= link_to_project(issue.project) %></td>
          <td class="tracker"><%= issue.tracker %></td>
          <td><%= link_to(issue.author, user_path(issue.author)) %></td>
          <td><%= issue.created_on.to_date %></td>
          <td><%= issue.status %></td>
          <td><%= issue.priority %></td>
          <td class="subject">
            <%= link_to(issue.subject.truncate(60), issue_path(issue)) %> (<%= issue.status %>)
          </td>
          <td>
            <% if issue.assigned_to %>
              <%= link_to(issue.assigned_to, user_path(issue.assigned_to)) %>
            <% else %>
              ---
            <% end %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end %>

<%= context_menu issues_context_menu_path %>