<table>
  <tbody>
    <tr>
      <th>Поле статуса оплаты</th>
      <td>
        <%= select_tag  'settings[payment_status_id]', options_for_select(CustomField.all.collect {|cf| [ cf.name, cf.id ] }.sort_by(&:first), settings['payment_status_id']) %>
      </td>
    </tr>
      <tr>
        <th>Статус "Оплачено"</th>
        <td>
          <% if settings['payment_status_id'] %>
            <%= select_tag  'settings[status_paid]', options_for_select(CustomField.where("id=#{settings['payment_status_id']}").first.possible_values, settings['status_paid']) %>
          <% end %>
        </td>
      </tr>
    <tr>
      <th>Поле даты оплаты</th>
      <td>
        <%= select_tag  'settings[payment_date_id]', options_for_select(CustomField.all.sort.collect {|cf| [ cf.name, cf.id ] }.sort_by(&:first), settings['payment_date_id']) %>
      </td>
    </tr>
  </tbody>
</table>
